/* Global Styling */

*, html {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

/* Grid Styling */

.grid {
    display: grid;
}

.gridContainer {
    display: inline-grid;
    border: 3px solid #000;
    margin: 0 auto;
    width: 50%;
    height: 500px;
}

.cell.active {
    background: #000 !important;
}

.resetButton {
    display: block;
    margin: 10px auto;
    grid-row-start: 1;
    grid-row-end: auto;
    padding: 10px 10px;
}