/* Global Styling */

*, html {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: #F6F7EB;
}

h1 {
    margin: 30px;
}

/* Grid Styling */

.grid {
    display: grid;
}

.gridContainer {
    display: grid;
    border: 80px solid #E94F37;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    height: 500px;
    background: #393E41;
}

.cell {
    cursor: cell;
}

.cell.active {
    background: #000 !important;
}

button {
    background: #393E41;
    color: #fff;
    border: none;
    margin: 10px 5px;
    grid-row-start: 1;
    grid-row-end: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 10px 30px;
    cursor: pointer;
}

button:hover {
    font-weight: bold;
}

.rainbowActive {
    background: #E94F37;
    font-weight: bold;
}