/* Global Styling */

*, html {
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, auto-fit);
}

/* Grid Styling */

.row {
    grid-row-start: 1;
    grid-row-end: auto;
}

.col {
    grid-column-start: 1;
    grid-column-end: auto;
}

.cell {
    border: 1px solid #000;
    padding: 10px;
}

.cell.active {
    background: #000 !important;
}

.resetButton {
    margin: 10px auto;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 10px 10px;
}